<main>
    <header>
        <ul class="flex-container">
            <li class="flex-item">
                <img src="assets/header-title-2.png"/>
            </li>
        </ul>
    </header>
    <body>
        <div class="row">
            <div class="column">
                <img src="assets/about.png"/>
            </div>
            <div class="column">
                <img src="assets/prices.png"/>
            </div>
        </div>
    </body>
    <footer> 
    <div class="row">
        <div class="column">
            <img class="footer" src="assets/contact-us.png"/>
        </div>
        <div class="column">
            <div class="container">
                <a href="https://maps.app.goo.gl/EEGWNGMDxZCxYans7" target="_blank">
                    <img class="footer" src="assets/location.png"/>
                </a>
            </div>
            <div class="weird">
                <a href="https://wa.me/0730686414" target="_blank">
                    <img class="footer" src="assets/whatsapp.png"/>
                </a>
            </div>
            <div>
                <a href="mailto:justjadethanks@gmail.com" target="_blank">
                    <img class="footer" src="assets/email-me.png"/>
                </a>
            </div>
        </div>
    </div>
    </footer>
</main>
